<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/home" module="Afficher" action="home"/>
    <route url="/" module="Afficher" action="home"/>


    <route url="/courrier/mes_creations" module="Courrier" action="creations"/>
    <route url="/courrier/departs" module="Courrier" action="departs"/>
    <route url="/courrier/receptions" module="Courrier" action="receptions"/>
    <route url="/courrier/receptions/add" module="Courrier" action="addReceptions"/>
    <route url="/courrier/receptions/update/([0-9]+)" module="Courrier" vars="id" action="editReceptions"/>
    <route url="/courrier/receptions/delete/([0-9]+)" module="Courrier" vars="id" action="deleteReceptions"/>
    <route url="/courrier/departs/view/([0-9]+)" module="Courrier" vars="id" action="view"/>
    <route url="/courrier/departs/reference/([0-9]+)/([0-9]+)" module="Afficher" vars="numero,typecourrier" action="home"/>
    <route url="/courrier/departs/delete/([0-9]+)" module="Courrier" vars="id" action="deleteDeparts"/>
    <route url="/courrier/departs/update/([0-9]+)" module="Courrier" vars="id" action="editDeparts"/>


    <route url="/demande/index" module="Demande" action="index" />
    <route url="/demande/display/([0-9]+)" module="Demande" vars="id" action="display"/>
    <route url="/demande/addObservation" module="Demande" action="addObservation"/>
    <route url="/demande/uploadfile" module="Demande" action="uploadfile"/>
    <route url="/demande/update/([0-9]+)" module="Demande" vars="id" action="update"/>
    <route url="/demande/delete/([0-9]+)" module="Demande" vars="id" action="delete"/>
    <route url="/demande/approv/([0-9]+)/([0-9]+)" module="Demande" vars="id,statut" action="approv"/>
    <route url="/demande/cancel/([0-9]+)/([0-9]+)" module="Demande" vars="id,type" action="cancel"/>
    <route url="/demande/addFiche" module="Demande" action="addFiche"/>
    <route url="/demande/deletefiche/([0-9]+)" module="Demande" vars="id" action="deletefiche"/>


    <route url="/employe/index" module="Employe" action="index" />
    <route url="/employe/add" module="Employe" action="add" />
    <route url="/employe/update/([0-9]+)" module="Employe" vars="id" action="update"/>
    <route url="/employe/delete/([0-9]+)" module="Employe" vars="id" action="delete"/>


    <route url="/uploadfile" module="Courrier" action="uploadFile" />
    <route url="/file_view/([0-9]+)/([A-Z])" module="Courrier" vars="id,name" action="file_view" />

    <route url="/comptabilite/index" module="Comptabilite" action="index" />
    <route url="/comptabilite/facturations" module="Comptabilite" action="facturations" />
    <route url="/comptabilite/nouveau" module="Comptabilite" action="nouveau" />
    <route url="/comptabilite/update/([0-9]+)" module="Comptabilite" vars="id" action="update"/>
    <route url="/comptabilite/delete/([0-9]+)" module="Comptabilite" vars="id" action="delete"/>
    <route url="/comptabilite/print/([0-9]+)" module="Comptabilite" vars="id" action="print"/>
    <route url="/comptabilite/addFacturations" module="Comptabilite" action="addFacturations"/>
    <route url="/comptabilite/updateFacturations/([0-9]+)" module="Comptabilite" vars="id" action="updateFacturations"/>
    <route url="/comptabilite/deleteFacturations/([0-9]+)" module="Comptabilite" vars="id" action="deleteFacturations"/>

    <route url="/comptabilite/fournisseurs" module="Comptabilite" action="fournisseurs"/>
    <route url="/comptabilite/fournisseurs/add" module="Comptabilite" action="addFournisseur"/>
    <route url="/comptabilite/fournisseurs/update/([0-9]+)" module="Comptabilite" vars="id" action="updateFournisseur"/>
    <route url="/comptabilite/fournisseurs/delete/([0-9]+)" module="Comptabilite" vars="id" action="deleteFournisseur"/>



    <route url="/logout" module="Connexion" action="logout"/>
    <route url="/pannel/index" module="Pannel" action="index"/>
    <route url="/pannel/add" module="Pannel" action="add"/>
    <route url="/pannel/update/([0-9]+)" module="Pannel" vars="id" action="update"/>
    <route url="/pannel/delete/([0-9]+)" module="Pannel" vars="id" action="delete"/>
    <route url="/pannel/configurations/index" module="Pannel" action="configurations"/>
    <route url="/pannel/configurations/typercourrier/add" module="Pannel" action="AddTypeCourrier"/>
    <route url="/pannel/configurations/typecourrier/edit/([0-9]+)" module="Pannel" vars="id" action="edittypecourrier"/>
    <route url="/pannel/configurations/typecourrier/delete/([0-9]+)" module="Pannel" vars="id" action="deletetypecourrier"/>

    <route url="/pannel/configurations/typedemande/add" module="Pannel" action="addTypeDemande"/>
    <route url="/pannel/configurations/typedemande/edit/([0-9]+)" module="Pannel" vars="id" action="editTypeDemande"/>
    <route url="/pannel/configurations/typedemande/delete/([0-9]+)" module="Pannel" vars="id" action="deleteTypeDemande"/>

    <route url="/pannel/configurations/typeservice/add" module="Pannel" action="addService"/>
    <route url="/pannel/configurations/typeservice/edit/([0-9]+)" module="Pannel" vars="id" action="editService"/>
    <route url="/pannel/configurations/typeservice/delete/([0-9]+)" module="Pannel" vars="id" action="deleteService"/>


    <route url="/pannel/configurations/statutdemande/add" module="Pannel" action="addStatutDemande"/>
    <route url="/pannel/configurations/statutdemande/edit/([0-9]+)" module="Pannel" vars="id" action="editStatutDemande"/>
    <route url="/pannel/configurations/statutdemande/delete/([0-9]+)" module="Pannel" vars="id" action="deleteStatutDemande"/>

    <route url="/user/profile" module="Connexion" action="profile"/>

</routes>